body {
  font-family: "Montserrat", sans-serif;

  margin: 0;
  background-color: #000;
  color: #fff;
  overflow: hidden;
}

.main {
  display: flex;
  height: 100vh;
}

.sidebar {
  background-color: black;
  width: 340px;
  border-radius: 1rem;
  /*16px */
  padding: 0.5rem;
}

.main-content {
  background: linear-gradient(to bottom, #464135 25%, #353129 48%);
  flex: 1;
  border-radius: 1rem;
  overflow: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  padding: 0.5rem;
}

.main-content:hover {
  background: linear-gradient(to bottom, #212121 0%, #1d1d1d 100%);
}

.main-content:hover .stick {
  background: linear-gradient(to bottom, #212121 0%, #1d1d1d 100%);
}

.music-player {
  background-color: black;
  position: fixed;
  bottom: 0;
  height: 72px;
  width: 100%;
  padding: 0.5rem;
}

a {
  text-decoration: none;
  color: white;
}

.nav {
  height: 100px;
  background-color: #121212;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem 0.75rem;
}

.nav-option {
  line-height: 2.5rem;
  opacity: 0.7;
  padding: 0.3rem 0.75rem;
}

.nav-option:hover {
  opacity: 1;
}

.nav-option i {
  font-size: 1.25rem;
}

.nav-option a {
  font-size: 1rem;
  padding-left: 0.5rem;
}

.library {
  background-color: #121212;
  border-radius: 1rem;
  height: 100%;
  margin-top: 0.5rem;
  padding: 0.5rem 0.75rem;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lib-option img {
  height: 1.25rem;
  width: 1.25rem;
}

.icons {
  font-size: 1.25rem;

  display: flex;
}

.icons i {
  opacity: 0.7;
  margin-right: 1rem;
}

.icons i:hover {
  opacity: 1;
}

.box {
  background-color: #242424;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  padding: 1rem 1.25rem;
  height: 7rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box-p1 {
  font-size: 0.9rem;
  font-weight: 600;
}

.box-p2 {
  font-size: 0.8rem;
  font-weight: 500;
}

.badge {
  font-size: 0.8rem;
  height: 2rem;
  width: fit-content;
  border-radius: 1rem;
  padding: 0.25rem 1rem;
  font-weight: 600;
  cursor: pointer;
  border: none;
  transition: 0.1s;
}

.badge:hover {
  transform: scale(1.07);
}

.badge-2 {
  font-size: 0.8rem;
  height: 2rem;
  width: fit-content;
  border-radius: 1rem;
  padding: 0.25rem 1rem;
  font-weight: 600;
  cursor: pointer;
  border: none;
  background-color: #000;
  color: white;
}

.badge-2:hover {
  background-color: #282828;
}

.sticky-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stick {
  border-radius: 0.5rem;
  position: sticky;
  top: -0.7rem;
  padding: 0.5rem;
  margin-top: 0;
  z-index: 10;
}

.sticky-nav img {
  cursor: not-allowed;
}

.circle {
  border-radius: 50%;
  width: fit-content;
  height: fit-content;
  font-size: 1rem;
  background-color: black;
}

.backfow {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-around;
}

.sideicons {
  display: flex;
  gap: 0.7rem;
}

.ico {
  height: 1.5rem;
  width: 1.5rem;
  font-size: 1.3rem;
  border-radius: 50%;
  background-color: black;
  opacity: 0.8;
  text-align: center;
  padding: 0.2rem;
  cursor: pointer;
}

.alertBox {
  transform: translate(-2rem, 0.5rem);
  border-radius: 0.5rem;
  background-color: #282828;
  visibility: hidden;
  opacity: 0;
  width: max-content;
  color: whitesmoke;
  font-size: 0.8rem;
  z-index: 3;
  padding: 0.5rem;
  font-weight: 700;
}

.alertBox-2 {
  transform: translate(-3rem, 0.5rem);
  border-radius: 0.5rem;
  background-color: #282828;
  visibility: hidden;
  opacity: 0;
  width: max-content;
  color: whitesmoke;
  font-size: 0.8rem;
  z-index: 3;
  padding: 0.5rem;
  font-weight: 700;
}

.ico:hover {
  transform: scale(1.07);
  opacity: 1;
}

.ico:hover .alertBox {
  visibility: visible;
  opacity: 1;
}

.ico:hover .alertBox-2 {
  visibility: visible;
  opacity: 1;
}

.podcast {
  display: flex;
  gap: 0.5rem;
  margin: 0.5rem 0 0.5rem 0;
}

.header {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#212121+0,1d1d1d+100 */
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  border-radius: 0.5rem;
  height: fit-content;
  width: 98.5%;
  padding: 0.5rem;
  box-shadow: none;
}

@media (max-width: 1000px) {
  .hide {
    display: none;
  }
}

.outer {
  margin: 0.5rem;
  display: grid;
  height: 7rem;
  width: 98.5%;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  grid-gap: 0.5rem;
}

.inner {
  background-color: #2a2a2a;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  height: 3rem;
  width: 17em;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.inner:hover {
  background-color: #3e3a34;
}

.inner a {
  font-size: 0.8rem;
  text-align: center;
  margin-right: 1rem;
}

.inner img {
  height: 100%;
  border-radius: 0.5rem;
  width: 20%;
}

@media (max-width: 1286px) {
  .inner {
    height: 3rem;
    width: 13rem;
  }
}

.inner i {
  visibility: hidden;
  font-size: 2.5rem;
  margin-right: 0.5rem;
}

.inner:hover i {
  color: rgb(55, 216, 55);
  visibility: visible;
}

i:hover {
  transform: scale(1.09);
}

.cardsbaap {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-around;
  margin: 2rem 0 2rem 0;
}

.cards {
  padding: 0.5rem;
  width: 160px;
  border-radius: 0.5rem;
  background-color: #232323;
  display: flex;
  margin-top: 1rem;
}

.dmix1 {
  width: 100%;
  border-radius: 0.5rem;
}

.card-title {
  font-weight: 600;
}

.card-info {
  font-size: 0.75rem;
  color: #919191;
}

.card-container>i {
  visibility: hidden;
  color: rgb(33, 211, 33);
  font-size: 2.5rem;
  transform: translate(7.4rem, 1.4rem);
  line-height: 0;
}

.cards:hover .card-container>i {
  visibility: visible !important;
}

.cards:hover {
  background-color: #302c2c;
}

.title {
  font-size: 1.3rem;
  font-weight: 700;
  text-decoration: none;
  color: white;
}

.title:hover {
  text-decoration: underline;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 99%;
}

.line {
  height: 50%;
  width: 90%;
  border-top: 1px solid white;
  opacity: 0.6;
}

.music-player {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image {
  display: flex;
  gap: 0.5rem;
  height: 100%;
  width: 20%;
  gap: 1.5rem;
  justify-content: space-evenly;
}

.hiden {
  visibility: hidden;
  transform: translate(1.5rem, -3.5rem);
  color: #fdfdfd;
  font-size: 1.75rem;
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 50%;
  z-index: 10;
}

.image1:hover .hiden {
  visibility: visible;
}

.image1 img {
  border-radius: 0.5rem;
}

.text {
  height: 1.5rem;
  width: 7rem;
  line-height: 0.1rem;
}

.text h4:hover {
  text-decoration: underline;
}

.text a {
  font-size: 0.8rem;
  opacity: 0.8;
}

.text a:hover {
  opacity: 1;
  text-decoration: underline;
}

.sides {
  height: 1.5rem;
  width: 5rem;
  display: flex;
  line-height: 0.1rem;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  gap: 0.5rem;
}

.dil {
  height: 1.7rem;
  width: 1.7rem;
  opacity: 0.7;
}

.dil:hover {
  transform: scale(1.05);
  opacity: 1;
}

.dil2 {
  height: 2.5rem;
  width: 2.5rem;
  opacity: 0.7;
}

.dil2:hover {
  transform: scale(1.05);
  opacity: 1;
}

.playbar {
  width: 30%;

  justify-content: center;
  align-items: center;
}

.playback-image {
  display: flex;
  height: 1.25rem;
  width: 1.25rem;
  margin-top: 0.5rem;
  margin-left: 4.5rem;
  margin-bottom: 0.25rem;
  gap: 2.5rem;
}

.playbackbar {
  gap: 1rem;
}

.input {
  width: 70%;
  margin-top: 1rem;
  color: #1bd071;
  cursor: pointer;
  appearance: none;
  background-color: transparent;
}

input::-webkit-slider-runnable-track {
  background-color: #ddd;
  height: 0.2rem;
  border-radius: 100px;
}

input::-webkit-slider-thumb {
  appearance: none;
  background-color: #1bd706;
  height: 0.8rem;
  width: 0.8rem;
  margin-top: -5px;
  border-radius: 50%;
}

.playback1 {
  opacity: 0.7;
}

.playback {
  opacity: 0.7;
}

.playback:hover {
  opacity: 1;
}

.playback3 {
  opacity: 0.8;
  transform: scale(2);
}

.playback3:hover {
  opacity: 1;
  transform: scale(2.2);
  color: greenyellow;
}

.last {
  display: flex;
  width: 20%;
  justify-content: center;
  align-items: center;
}

.lastlast {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  height: 2rem;
  width: 2rem;
  margin-right: 15rem;
}

.c1 {

  transform: scale(1.7);
}

.c2 {

  transform: scale(1.7);
}

.c5 {

  transform: scale(1.7);
}

.c6 {

  appearance: none;
  background-color: transparent;
}

.lastlast img {
  opacity: 0.6;
  height: 2.5rem;
  width: 2.5rem;
}

.lastlast img:hover {
  opacity: 1;
}